<%= form_with model: @group do |f| %>
  <div class="field mb-3">
    <%= f.label :オフ会の名前 %><br>
    <%= f.text_field :group_name, autofocus: true, placeholder: "名前" %>
  </div>
  <div class="field mb-3 input-lg">
    <%= f.label :詳細 %><br>
    <%= f.text_area :explanation, placeholder: "オフ会内容詳細" %>
  </div>
  <div class="field mb-3">
    <%= f.label :グループ画像 %><br>
    <%= f.file_field :group_image, accept: 'image/*' %>
  </div>
  <div class="field mb-3">
    <%= f.label :開催日 %><br>
    <%= f.date_field :event_date, min: Time.zone.now %>
  </div>
  <div class="field mb-3">
    <%= f.label :開催時間 %><br>
    <%= f.time_field :start_at %>
  </div>
  <div class="field mb-3">
    <%= f.label :開催場所 %><br>
    <%= f.text_field :location, placeholder: "開催場所" %>
  </div>
  <div class="field">
    <%= f.submit '送信', class: "btn btn-primary" %>
  </div>
<% end %>
