<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Group Lists</h2>
        <%= link_to 'NEW GROUP', new_group_path %>
        <% @groups.each do |group| %>
          <div>
            <%= image_tag group.get_group_image, size: '200x200' %>
            <%= group.group_name %>
          </div>
          <div><%= group.event_date.strftime("%Y年 %m月 %d日") %></div>
          <div><%= group.start_at.strftime("%H時%M分") %></div>
          <div><%= group.location %></div>
          <div><%= link_to '詳しく見る', group_path(group.id) %></div>
          <div>
            <% if group.is_owned_by?(current_user) %>
            <%= link_to '編集', edit_group_path(group.id), class: "group_#{group.id}" %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>