<div class="ml-5"><%= flash[:alert] %></div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 col-sm-10">
      <h3 class="my-3"><i class="fas fa-paw"></i> The Paw Station へようこそ！</h3>
        <h6 class="pt-md-3">ここは、犬が大好きな人が集まる「道の駅」のような場所</h6>
        <p class="mt-md-3">
          愛犬との思い出を投稿したり、気軽にオフ会を開催したり、
          おすすめのドッグランやお気に入りの散歩コースを記録に残すことができます。<br>
          あなたも始めてみませんか？
        </p>
    </div>

    <div class="col-md-6 col-sm-10 mx-auto">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "top_logo.jpg" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "top_ball.jpg" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "top_sea.jpg" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h4><i class="fas fa-dog"></i> 新着投稿</h4>
  <div class="row row-cols-md-3 g-4 w-100">
    <% @new_3_walks.each do |walk| %>
      <% if walk.user.is_deleted == false %>
        <div class="col-mb-3 col-sm-1 mb-5">
          <div class="card-img h-100 mt-4 shadow-sm">
            <%= image_tag walk.get_walk_image, class: "card-img-top img-fluid", style: "height:200px" %>
              <div class="card-body">
                <h5 class="card-title"><%= walk.title %></h5>
                <p class="card-text text-truncate"><%= walk.opinion %></p>
                <p class="card-text"><%= walk.created_at.strftime('%Y/%m/%d') %></p>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row my-5 pr-3">
    <%= link_to 'すべての情報をみる', walks_path, class: "ml-auto btn btn-outline-dark rounded-pill" %>
  </div>
</div>
