<div class="row no-gutters">
  <div class="col-md-4 col-sm-10">
    <div class="form-body p-4">
      <% if user_signed_in? %>
        <%= form_with model: [walk, walk_comment] do |f| %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-comments"></i></span>
            </div>
            <div class="ml-3"><%= f.text_area :walk_comment, placeholder: 'コメントを書く', class: "form-control" %></div>
          </div>
          <hr>
          <div><%= f.submit 'コメント', row: "4", class: "btn btn-block btn-outline-warning mt-7" %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-7 col-sm-10 offset-1">
    <% walk.walk_comments.each do |walk_comment| %>
      <div class="walk-comment card w-75 mb-4">
        <div class="card-body">
          <p class="card-text">
            <%= link_to user_path(walk_comment.user.id) do %>
              <%= image_tag walk_comment.user.get_profile_image, size: '30x30', class: "rounded-circle" %>@
              <%= walk_comment.user.name %>
            <% end %>
          </p>
          <p class="card-text text-wrap"><%= walk_comment.walk_comment %></p>
          <p class="card-text">
            <span class="mr-3">
              <small class="text-muted">
              <%= walk_comment.created_at.strftime('%Y/%m/%d') %>
              </small>
            </span>
            <span>
              <% if walk_comment.user == current_user %>
                <%= link_to walk_walk_comment_path(walk_comment.walk, walk_comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-outline-danger text-right" do %>
                  削除 <i class="fas fa-trash-alt"></i>
                <% end %>
              <% end %>
            </span>
          </p>
        </div>
      </div>
    <% end %>
    <hr>
  </div>
</div>