<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Post dog Details</h2>
        
        <div><%= image_tag @post_dog.get_post_dog_image, size:'300x200' %></div>
        <div>
          <%= link_to user_path(@post_dog.user.id) do %>
            <%= image_tag @post_dog.user.get_profile_image, size:'80x80' %>
            <%= @post_dog.user.name %>
          <% end %>
        </div>
        <div><%= @post_dog.body %></div>
        <div><%= @post_dog.created_at.strftime('%Y/%m/%d') %></div>
        <div><%= link_to '削除', admin_post_dog_path, method: :delete, data: { confirm: '本当に削除しますか？' } , class: "btn btn-danger" %></div>
        <div><%= render 'public/post_dogs/comment', post_dog: @post_dog, post_comment: @post_comment %></div>
        
        <div><%= link_to '一覧へ戻る', admin_post_dogs_path, class: "btn btn-primary" %> </div>
    </div>
  </div>
</div>