<div class="row no-gutters">
  <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5" >
    <h5>Post to Walk information</h5>
    <div class="form-body p-4">
      <%= form_with model: walk do |f| %>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-bone"></i></span>
          </div>
            <%= f.text_field :title, autofocus: true, placeholder: "タイトル" %>
        </div>
        <%= f.text_area :opinion, class: "form-control", row: "4", placeholder: "コメントはこちら" %>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-map-marker-alt"></i></span>
          </div>
          <%= f.select :tag_id, Tag.pluck(:prefecture, :id) %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-image"></i></span>
          </div>
          <%= f.file_field :walk_image, accept: 'image/*' %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-dog"></i></span>
          </div>
          <%= f.text_field :dogrun_name, placeholder: "ドッグラン名・施設名" %>
        </div>
        <div class="input-group">
          <div class="input-group-text"><i class="fas fa-map-signs"></i></div>
          <%= f.radio_button :facility, Walk.facilities.key(0) %>
          <%= f.label :facility, Walk.facilities_i18n[:outdoor] %><br>
          <%= f.radio_button :facility, Walk.facilities.key(1) %>
          <%= f.label :facility, Walk.facilities_i18n[:indoor] %><br>
          <%= f.radio_button :facility, Walk.facilities.key(2) %>
          <%= f.label :facility, Walk.facilities_i18n[:both] %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-dog"></i></span>
          </div>
          <%= f.radio_button :size, Walk.sizes.key(0) %>
          <%= f.label :size, Walk.sizes_i18n[:small_dog] %><br>
          <%= f.radio_button :size, Walk.sizes.key(1) %>
          <%= f.label :size, Walk.sizes_i18n[:medium_size_dog] %><br>
          <%= f.radio_button :size, Walk.sizes.key(2) %>
          <%= f.label :size, Walk.sizes_i18n[:large_size_dog] %> 
        </div>
        <hr>
        <%= f.submit '送信', class: "btn btn-block btn-success mt-4" %>
      <% end %>
    </div>
  </div>
</div>