<%= form_with model: walk do |f| %>
  <table>
    <tr>
      <td><%= f.label :タイトル %></td>
      <td><%= f.text_field :title, autofocus: true, placeholder: "タイトル" %></td>
    </tr>
    <tr>
      <td><%= f.label :紹介文 %></td>
      <td><%= f.text_area :opinion, placeholder: "紹介文" %></td>
    </tr>
    <tr>
      <td><%= f.label :画像 %></td>
      <td><%= f.file_field :walk_image, accept: 'image/*' %></td>
    </tr>
    <tr>
      <td><%= f.label :ドッグラン名（任意） %></td>
      <td><%= f.text_field :dogrun_name, placeholder: "ドッグラン施設名" %></td>
    </tr>
    <tr>
      <td><%= f.label :場所 %></td>
      <td>
        <%= f.radio_button :facility, Walk.facilities.key(0) %>
        <%= f.label :facility, Walk.facilities_i18n[:outdoor] %>
        <%= f.radio_button :facility, Walk.facilities.key(1) %>
        <%= f.label :facility, Walk.facilities_i18n[:indoor] %>
        <%= f.radio_button :facility, Walk.facilities.key(2) %>
        <%= f.label :facility, Walk.facilities_i18n[:both] %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :犬の大きさ %></td>
      <td>
        <%= f.radio_button :size, Walk.sizes.key(0) %>
        <%= f.label :size, Walk.sizes_i18n[:small_dog] %>
        <%= f.radio_button :size, Walk.sizes.key(1) %>
        <%= f.label :size, Walk.sizes_i18n[:medium_size_dog] %>
        <%= f.radio_button :size, Walk.sizes.key(2) %>
        <%= f.label :size, Walk.sizes_i18n[:large_size_dog] %> 
      </td>
    </tr>
    <tr>
      <td><%= f.submit '編集', class: "btn btn-success" %></td>
    </tr>
  </table>
<% end %>