<div class="container mt-md-5">
  <div class="row">
    <div class="col-md-12">
      <h2>Take a Walk Information</h2>
      <div><%= link_to 'NEW POST', new_walk_path, class: "btn btn-outline-secondary" %></div>
        <!--都道府県表示-->
        
        <% @walks.each do |walk| %>
        <div>
          <%= image_tag walk.get_walk_image, size: '200x150' %>
        </div>
        <div>
          <%= image_tag walk.user.get_profile_image, size: '50x50' %>
          <%= walk.user.name %>
        </div>
        <!--<div>ブックマークカウント</div>-->
        <div><%= walk.title %></div>
        <div><%= walk.opinion %></div>
        <div><%= walk.dogrun_name %></div>
        <div><%= walk.facility_i18n %></div>
        <div><%= walk.size_i18n %></div>
        <div><%= link_to '詳しく見る', walk_path(walk.id) %></div>
        <% end %>
    </div>
  </div>
</div>