<div class="container mt-md-5">
  <div class="row">
    <div class="col-md-4">
      <!--ユーザー情報-->
      <%= render 'public/users/info', user: @user %>
    </div>
    
    <div class="col-md-7 offset-md-1">
      <h2>Take a Walk Detail</h2>
      <!--都道府県-->
      
        <!--ブックマークボタン-->
        <%= render 'bookmark', walk: @walk %>
      
        <div><%= image_tag @walk.get_walk_image, size:'300x200' %></div>
        <div>
          <%= link_to users_path(@walk.user.id) do %>
            <%= image_tag @walk.user.get_profile_image, size:'100x100' %>
            <%= @walk.user.name %>
          <% end %>
        </div>
        <div><%= @walk.title %></div>
        <div><%= @walk.opinion %></div>
        <div><%= @walk.dogrun_name %></div>
        <div><%= @walk.facility_i18n %></div>
        <div><%= @walk.size_i18n %></div>
        <div>
          <% if @walk.user == current_user %>
            <%= link_to '編集', edit_walk_path(@walk.id), class: "btn btn-primary" %>
            <%= link_to '削除', @walk, method: :delete, data: { confirm: '本当に削除しますか？' } , class: "btn btn-danger" %>
          <% end %>
        </div>
      <%= render 'comment', walk: @walk, walk_comment: @walk_comment %>
    </div>
  </div>
</div>