<div class="container mt-md-5">
  <div class="row">
    <div class="mx-auto">
      <h3 class="mb-3">オフ会の情報内容・ステータス変更</h3>
      
        <%= form_with model: @group, url: admin_group_path do |f| %>
        <div class="field mb-3">
          <%= f.label :オフ会の名前 %><br>
          <%= f.text_field :group_name, autofocus: true, placeholder: "名前" %>
        </div>
        <div class="field mb-3 input-lg">
          <%= f.label :詳細 %><br>
          <%= f.text_area :explanation, placeholder: "オフ会内容詳細" %>
        </div>
        <div class="field mb-3">
          <%= f.label :グループ画像 %><br>
          <%= f.file_field :group_image, accept: 'image/*' %>
        </div>
        <div class="field mb-3">
          <%= f.label :開催日 %><br>
          <%= f.date_field :event_date, min: Time.zone.now %>
        </div>
        <div class="field mb-3">
          <%= f.label :開催時間 %><br>
          <%= f.time_field :start_at %>
        </div>
        <div class="field mb-3">
          <%= f.label :開催場所 %><br>
          <%= f.text_field :location, placeholder: "開催場所" %>
        </div>
        
        <div class="field mb-3">
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_delted, "公開", class: "text text-success" %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_delted, "非公開", class: "text text-secondary" %>
        </div>
        
        <div class="field">
          <%= f.submit '送信', class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>