<div class="container mt-5">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-3" >
      <h5 class="text-center mt-5">Meetup's Edit Detail</h5>
      <div class="form-body p-4">
        <%= form_with model: @group, url: admin_group_path do |f| %>
        
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-users"></i></span>
            </div>
            <div class="ml-3"><%= @group.group_name %>
              <%#= f.text_field :group_name, autofocus: true, placeholder: "グループ名", class: "form-control" %></div>
          </div>
          
          <div class="input-group mb-3 mt-4">
            <%= @group.explanation %>
            <%#= f.text_area :explanation, placeholder: "詳細を記入する", class: "form-control" %>
          </div>
        
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <div class="ml-3"><%= @group.event_date.strftime("%Y年%m月%d日") %>
              <%#= f.date_field :event_date, min: Time.zone.now, class: "form-control" %></div>
          </div>
          
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-clock"></i></span>
            </div>
            <div class="ml-3"><%= @group.start_at.strftime("%H時%M分") %>
              <%#= f.time_field :start_at, class: "form-control" %></div>
          </div>
          
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-map-pin"></i></span>
            </div>
            <div class="ml-3"><%= @group.location %>
              <%#= f.text_field :location, placeholder: "開催場所", class: "form-control" %></div>
          </div>
          
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-image"></i></span>
            </div>
            <div class="ml-3"><%= f.file_field :group_image, accept: 'image/*' %></div>
          </div>
        
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-sun"></i></span>
            </div>
            <div class="ml-3">
              <div>
                <%= f.radio_button :is_deleted, :false %>
                <%= f.label :is_delted, "公開中", class: "text text-success" %>
              </div>
              <div>
                <%= f.radio_button :is_deleted, :true %>
                <%= f.label :is_delted, "公開停止", class: "text text-secondary" %>
              </div>
            </div>
          </div>
          <hr>
          <div class="field">
            <%= f.submit '送信', class: "btn btn-block btn-outline-success mt-4" %>
            <%= link_to 'キャンセル', admin_groups_path, class: "btn btn-block btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>