<div class="container mt-md-5">
  <div class="row mx-auto">
    <h2 class="mx-auto">Meetup Lists</h2>
  </div>
  
  <div class="card mb-3">
    <div class="row no-gutters mt-3">
      <% @groups.each do |group| %>
        <div class="col-md-4">
          <%= image_tag group.get_group_image, size: '200x200' %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= group.group_name %></h5>
            <p class="card-text">場所： <%= group.location %></p>
            <p class="card-text">開催日： <%= group.event_date.strftime("%Y年%m月%d日") %></p>
            <p class="card-text">開催時間： <%= group.start_at.strftime("%H時%M分") %></p>
            <p class="card-text">
              <% if group.is_deleted %>
                <strong class="text-secondary">閉会</strong>
              <% else %>
                <strong class="text-success">開催中</strong>
                <p class="card-text"><%= link_to '詳しく見る', admin_group_path(group.id) %></p>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
