<table class="user-info-table">
  <tr>
    <td align="right">
    <% if current_user == user %>
      <%= link_to edit_user_path(user) do %>
        <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td align="center">
      <%= image_tag user.get_profile_image, size:'100x100' %>
    </td>
  </tr>
  <tr>
    <td align="left"><%= user.name %></td>
  </tr>
  <tr>
    <td align="left"><%= user.introduction %></td>
  </tr>
  <tr>
    <td>
      <%= link_to user.followings.count, user_followings_path(user) %> フォロー中 
      <%= link_to user.followers.count, user_followers_path(user) %> フォロワー 
    </td>
  </tr>
  <tr>
    <td><%= render 'public/relationships/btn', user: @user %></td>
  </tr>
  <tr>
    <% if current_user == user %>
      <td><%= link_to "Bookmarks", bookmarks_user_path(@user), class: "btn-block text-center" %></td>
    <% end %>
  </tr>
  
</table>