<table class="user_info_table">
  <tr>
    <%= image_tag user.get_profile_image, size:'50x50' %> 
    <%= user.name %>
    <%= link_to edit_user_path(user) do %>
       <i class="fas fa-user-edit"></i>
    <% end %>
   
  </tr>
  <tr>
    <td>都道府県</td>
  </tr>
  <tr>
    <td>
      <%= user.introduction %>
    </td>
  </tr>
  <tr>
    <td>
      フォロー（<%= link_to user.followings.count, user_followings_path(user) %>）
      フォロワー（<%= link_to user.followers.count, user_followers_path(user) %>）
    </td>
  </tr>
  <tr>
    <td><%= render 'public/relationships/btn', user: @user %></td>
  </tr>
  <tr>
    <% if current_user == user %>
      <td><%#= link_to "Bookmarks", bookmarks_walks_path, class: "btn-block text-center" %></td>
      <td><%#= link_to "Favorites", , class: "btn-block text-center" %></td>
    <% end %>
  </tr>
  
</table>