<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3 class="text-center border">My Page Edit</h3>
        <%= form_with model: @user, url: user_path(current_user) do |f| %>
          <div class="form-group">
            <%= f.label :'表示させたい名前' %>
            <%= f.text_field :name, autofocus: true, placeholder: "ユーザーネーム", class: "form-control name" %>
          </div>
          <div class="form-group">
            <%= f.label :'プロフィール画像' %>
            <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
          </div>
          <div class="form-group">
            <%= f.label :'自己紹介' %>
            <%= f.text_area :introduction, placeholder: "自己紹介や愛犬について書きましょう", class: "form-control introduction" %>
          </div>
          <div class="form-group">
            <%= f.submit 'Update', class: "btn btn-success" %>
          </div>
        <% end %>
        
        <div class="link">
          <%= link_to '退会手続きへ', user_unsubscribe_path(@user), class: "btn btn-default-v3" %>
        </div>
    </div>
  </div>
</div>