<div class='container mt-5'>
  <%= render "layouts/errors", obj: @user %>
  <div class="row">
    <div class='col-md-4'>
      <%= render 'info', user: @user %>
    </div>
      
    <div class="col-md-5 col-sm-10 offset-1" >
      <h4 class="pb-3"><i class="fas fa-user-cog"></i> User Information Edit</h4>
      <div class="form-body">
        <%= form_with model: @user, url: user_path(current_user) do |f| %>
          
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-user"></i></span>
            </div>
            <div class="ml-3"><%= f.text_field :name, autofocus: true, placeholder: "表示させたい名前", class: "form-control" %></div>
          </div>
          
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-image"></i></span>
            </div>
            <div class="ml-3"><%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %></div>
          </div>
              
          <div class="input-group mb-3 mt-4">
            <%= f.text_area :introduction, placeholder: "自己紹介", class: "form-control" %>
          </div>
          
          <hr>
          <%= f.submit '保存', class: "btn btn-outline-success" %>
          <%= link_to 'キャンセル', user_path(@user), class: "btn btn-outline-secondary" %>
        <% end %>
        
        <div class="mt-2">
          <%= link_to '退会手続きへ', user_unsubscribe_path(@user), class: "btn btn-default-v3" %>
        </div>
        
      </div>
    </div>
  </div>
</div>