<% if user_signed_in? %>
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'Mypage', user_path(current_user), class: "btn btn-outline-{dark}.bg-{warning} rounded-pill" %>
  </li>
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'Dog', post_dogs_path, class: "btn btn-outline-secondary" %>
  </li>
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'Take a Walk', walks_path, class: "btn btn-outline-secondary" %>
  </li>
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'Meetup', groups_path, class: "btn btn-outline-secondary"%>
  </li>
  
  <!--検索フォーム-->
  <%= form_with url: search_path, locul: true, method: :get, class: "d-flex border border-secondary rounded" do |f| %>
    <%= f.text_field :word, class: "form-control", placeholder: "Search", style: "width: 100%; border: none;" %>
    <%= button_tag class: "", type: "submit", style: "border: none;" do %>
    <i class="fas fa-search"></i>
    <% end %>
  <% end %>
  
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
  </li>
<% else %>
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'About', about_path, class: "btn btn-outline-primary rounded-pill" %>
  </li>
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'Take a Walk', walks_path, class: "btn btn-outline-secondary" %>
  </li>
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'Guest Log in', guest_sign_in_path, method: :post, class: "btn btn-outline-secondary" %>
  </li>
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-secondary" %>
  </li>
  <li class="nav-item mr-3 text-nowrap">
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-secondary" %>
  </li>
  
  <!--検索フォーム-->
  <%= form_with url: search_path, locul: true, method: :get, class: "d-flex border border-secondary rounded" do |f| %>
    <%= f.text_field :word, class: "form-control", placeholder: "Search", style: "width: 100%; border: none;" %>
    <%= button_tag class: "", type: "submit", style: "border: none;" do %>
    <i class="fas fa-search"></i>
    <% end %>
  <% end %>
  
<% end %>

